header{
    text-align: center;
    background-color: green;
}

header p {
    font-weight: bold;
    color: darkgray;
}

.byline{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
}

main{
    background-color: darkolivegreen;
    text-align: left;
}

footer{
    background-color: aquamarine;
    text-align: center
}