aside{
    background-color: blanchedalmond;
    float: right;
    width: 33%;
    padding: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid;
    border-radius: 10px;
    font-style: italic;
}
button {
    background-color: cadetblue;
    border: 2px black solid;
    color: greenyellow;
    text-align: center;    
    font-size: 16px;
}

button.test-button{
    padding: 25px;
    border: 15px green solid;
    border-radius: 8px;
    
}

button.test-button:hover{
    background-color: bisque;
}

button.margin-button{
    margin: 25px;
    

}

div#margin-div{
    border:1px black solid;
    display: inline-block;
}

footer{
    background-color: violet;
    text-align: center
}

h1.center {
    text-align: center
}

img#list-button-utah{
    width: 100px;
    height: 100px;
    float: right;

}

header {
    background-color: palegreen;
    text-align: center
    
    
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 110%; 
    
}

.byline{
    font-style: italic;
    font-size: 80%
}

main{
    background-color: blue
}

nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}