nav {        
    background-color: aliceblue;
    border: 1px green solid;
    padding: 8px;
    margin: -1px 0px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

nav li {
    display: inline;
    padding: 8px;    
}

header{
    text-align: center;
}

header p {
    font-weight: bold;
    color: grey;
}

.byline{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80%;
}

main{
    background-color: cadetblue;
    text-align: left;
}

footer{
    background-color: cornflowerblue;
    text-align: center
}

img#Circuit{
    width: 200px;
    height: 200px;
    float: left;
}